<%= form_with(model: @doctor, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.submit "Save Doctor" %>
  </div>
<% end %>